* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.objectif, .experience {
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.objectif h2, .experience h2 {
    margin-top: 0;
}

section {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
}
